@import"https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    color-scheme: dark;
}

:root {
    --bg-main: #121316;
    --text-main: #ffffff;
    --font-h1: clamp(32px, 4vw, 42px);
    --font-h2: clamp(24px, 3vw, 36px);
    --font-h3: clamp(18px, 2.5vw, 24px);
    --font-b: clamp(16px, 2.5vw, 20px);
    --font-p: clamp(14px, 2vw, 18px);
    --font-a: 18px;
}

html {
    background: var(--bg-main);
}

html,
body {
    overflow-x: hidden;
}

label,
a,
p,
b,
h1,
h2,
h3,
h4,
h5 {
    text-decoration: none;
    color: var(--text-main);
}

h1 {
    font-size: var(--font-h1);
}

h2 {
    font-size: var(--font-h2);
}

h3 {
    font-size: var(--font-h3);
}

b {
    font-size: var(--font-b);
}

p {
    font-size: var(--font-p);
}

a {
    font-size: var(--font-a);
}

sub,
sup {
    bottom: auto;
    line-height: normal;
    font-size: smaller;
    position: static;
}

/* MOBILE ON TAP HIGHLIGHT */
*:active,
*:hover,
*:focus {
    -webkit-tap-highlight-color: #00000066;
}

img {
    user-select: none;
}